body {
  background-color: #ffff59;
  font-family: 'Helvetica Neue', Helvetica, arial;
  margin: 0px;
  padding-right: 3px;
}
h1 {
  margin: 0;
  font-size: 70px;
  width: 70px;
  line-height: .85em;
  padding-left: 0px;
}
@media (min-width: 768px) {
  body {
    max-width: 427px;
    margin: 100px;
    padding-right: 0px;
  }
  h1 {
    width: 100%;
    font-size: 6em;
  }
}
pre {
  position: relative;
  padding-left: 6px;
}
a:hover {
  border-bottom: 3px solid #FF3B59;
}
a {
  text-decoration: none;
  color: #FF3B59;
  cursor: pointer;
}
#sync-button {
  position: absolute;
  right: 0;
}
label {
  display: block;
}
table {
  width: 100%;
}
th:last-child, td:last-child {
  text-align: right;
}
table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-align: left;
  word-wrap: break-word;
}
.name {
  max-width: 165px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.icon {
  position: relative;
  margin: 1.32px;
  border: 1px solid black;
  height: 48px;
  width: 48px;
  float: left;
}
.icon img {
  height: 48px;
  width: 48px;
}
.icon span {
  font-size: .8em;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  opacity: .7;
  color: black;
  padding: 0 2px;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
h3 { float:left; width:100%; }
