body {
  background-color: #ffff59;
  width: 430px;
  font-family: 'Helvetica Neue', Helvetica, arial;
  margin: 100px;
}
h1 {
  margin: 0;
  font-size: 6em;
  line-height: .85em;
  padding-left: 0px;
}
pre {
  position: relative;
  padding-left: 6px;
}
a:hover {
  border-bottom: 3px solid #FF3B59;
}
a {
  text-decoration: none;
  color: #FF3B59;
  cursor: pointer;
}
#sync-button {
  position: absolute;
  right: 0;
}
label {
  text-align: left;
  display: block;
}
