body {
  background-color: #ffff59;
  width: 430px;
  font-family: 'Helvetica Neue', Helvetica, arial;
  margin: 100px;
}
h1 {
  margin: 0;
  font-size: 5.6em;
  line-height: .85em;
}
span, a {
  text-decoration: none;
  color: #FF3B59;
  cursor: pointer;
}
h1, pre {
  border-left: 3px solid #ffff59;
  padding-left: 6px;
  margin-bottom: 60px;
}
h1:hover, pre:hover {
  border-left: 3px solid #FF3B59;
}
